<div class="container">



	<div class="row">
		<div class="col-md-6">
			<div class="links">

<br />

  <h1>Bienvenue sur Akinator !</h1>
<br />

      <p> Clique sur commencer le jeu !</p>
<br />
<br />
	<%= link_to "Commencer le jeu !", games_path, method: :post, class: "btn btn-primary" %>
<br />

			</div>
		</div>
		<div class="col-md-6">
      <br />
			<img src="https://image.noelshack.com/fichiers/2019/12/4/1553189978-arturoburger.png?fbclid=IwAR3Afg3HOU4wEY67YxyrVNYRhaEYgwZh0DfwG0znOhdvvnXNgwt08_ZrFkI" alt="", class="avatar">
		</div>
	</div>






</div>



















