<h1><%= @question %></h1>

<p class="center">
<%= link_to "Oui", game_path(params["id"], answer: "yes", question_id: params["question_id"]), method: :patch, class: "btn btn-success"  %>
<%= link_to "Non", game_path(params["id"], answer: "no", question_id: params["question_id"]), method: :patch, class: "btn btn-danger"  %>
</p>

<!-- <%= link_to( "Question suivante", game_path(1), method: :patch, class: "btn btn-primary" ) %> -->
