






  <div class="row">
    <div class="col-md-6">
      <div class="links">




<h1>Et voici vos résultats !</h1>

<ul>
<% @game["answers"].each do |answer| %>

<li> Ma réponse est <%= answer %> </li>


<% end%>
</ul>




      </div>
    </div>
    <div class="col-md-6">
      <img src="https://image.noelshack.com/fichiers/2019/12/4/1553189978-arturoburger.png?fbclid=IwAR3Afg3HOU4wEY67YxyrVNYRhaEYgwZh0DfwG0znOhdvvnXNgwt08_ZrFkI" alt="", class="avatar">
    </div>
  </div>
